@media (max-width:1036px) {
    .section-sobre-mim2 {
        height: 50em;
    }
    
}

@media (max-width:1024px) {
    .section-inicio {
        display: flex;
        flex-direction: column;
        gap: 3.7em;
        height: auto;
        padding: 12% 20px;
    }

    .inicio-inp {
        text-align: center;
        width: 240px;
    }

    .img-pq {
        width: 250px;
    }

    .section-sobre-mim2 {
        height: 855px;
    }
}

@media (max-width:768px) {

    .div-habilidades-titulo h2 {
        font-size: 2.6rem;
    }

    .section-sobre-mim2 {
        height: 55em;
        padding: 20px;
    }
}

@media (max-width:490px) {
    .section-sobre-mim2 {
        height: 50em;
    }

    .section-sm-text p{
        font-size: 1.6rem;
    }
}

@media (max-width:450px) {
    .card-flex {
        width: 370px;
    }

    .pro-img {
        width: 300px;
    }
}

@media (max-width:420px) {

    .section-inicio {
        padding-top: 20%;
    }

    .section-inicio-text {
        font-size: 1.5rem;
    }

    .img-pq {
        width: 205px;
    }

    .section-sobre-mim2 {
        gap: 5px;
        padding: 20px 0;
    }

    .section-sm-text p {
        width: 340px;
        font-size: 1.4rem;
    }

    .card-flex {
        width: 350px;
    }

    .projeto-titulo {
        font-size: 2rem;
    }

    .div-footer {
        display: flex;
        flex-direction: column;
    }

    .section-projeto {
        padding-bottom: 5em;
    }

    .footer-social2 ul{
        padding-top: 10px;
    }
    
}

@media (max-width:390px) {

    .section-inicio-text {
        font-size: 1.4rem;
    }


    .img-pq {
        width: 200px;
    }

    .section-sobre-mim2 {
        height: 45em;
        gap: 5px;
    }

    .section-sm-text h2 {
        font-size: 2rem;
    }

    .section-sm-text p {
        width: 330px;
        font-size: 1.2rem;
    }

    .section-sm-text span {
        padding-left: 4%;
    }

    .img-programmer {
        width: 240px;
    }

    .section-projeto {
        padding-bottom: 3em;
    }

    .projeto-titulo {
        font-size: 1.7rem;
    }

    .card-flex {
        width: 320px;
    }

    .card-img {
        width: 290px;
    }

    .div-footer {
        display: flex;
        flex-direction: column;
    }

    .footer-social2 ul{
        padding-top: 15px;
    }
    
}

@media (max-width:360px) {
    .card-flex {
        width: 300px;
    }

    .card-img{
        width: 270px;
    }

}

@media (max-width:340px) {
    .section-sm-text p {
        width: 300px;
        font-size: 1.3rem;
    }

    .card-flex {
        width: 290px;
        margin: 0;
    }

    .card-img{
        width: 260px;
    }

}

@media (max-width:320px) {

    .header-menu {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .img-programmer {
        width: 250px;
    }

    .section-inicio-text span {
        font-size: 1.3rem;
    }

    .section-sm-text h2{
        font-size: 1.3rem;
    }

    .section-sm-text p {
        width: 260px;
        font-size: 1.2rem;
    }

    .card-flex {
        width: 260px;
        margin: 0;
    }

    .div-habilidades-titulo h2 {
        font-size: 2.3rem;
    }

    .card-img{
        width: 230px;
    }
}

@media (max-width:310px) {

    .section-inicio {
        padding: 20px;
    }

    .section-inicio-text {
        font-size: .9rem;
    }

    .inicio-inp {
        width: 210px;
        font-size: .9rem;
        margin-top: 1em;
    }

    .inicio-inp:hover {
        letter-spacing: 0px;
    }   

    .img-pq {
        padding: 0;
        width: 156px;
    }

    .div-habilidades-titulo h2,
    .section-sm-text h2 {
        font-size: 1.7rem;
    }

    .img-programmer {
        width: 220px;
    }

    .section-sm-text p {
       width: 250px;
       padding: 10px;
    }

    .card-flex {
        width: 240px;
    }

    .card-img {
        width: 210px;
    }

    .card-text-p{
      font-size: .9rem;
    }

    .div-habilidades-a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}