@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500;600;700&family=Noto+Sans:wght@300&family=Source+Sans+Pro:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

:root {
    --cor0: #000;
    --cor1: #252525;
    --cor2: #3a3a3a;
    --cor3: #2dd4da;
    --cor4: #ff6600;
    --cor5: #464646;
    --cor6: #0dff2d71;

    --font-fira: 'Fira Code', monospace;
    --font-source: 'Source Sans Pro', sans-serif;
    --font-noto: 'Noto Sans', sans-serif;
    --font-ubutunu: 'Ubuntu', sans-serif;;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1f1f20;
    color: white;
    height: 100%; 
}

header {
    width: 100%;
    height: 80px;
    background-color: var(--cor2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo {
    font-size: 1.6em;
    font-weight: bold;
}

.nav-bar ul {
    display: flex;
}

.nav-bar li {
    list-style-type: none;
}

.nav-bar a {
    color: #fff;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 18px;
    margin: 0 5px;
    border-radius: 50px;
    transition: all .2s ease-in-out;
    text-decoration: none;
    letter-spacing: .2px;
}

.nav-bar a:hover {
    background-color: black;
    color: var(--cor3);
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;
    margin: 7px auto;
    transition: all .3s ease-in-out;
}


section {
    margin: 0 auto;
}

.centralizador {
    margin: 0 auto;
}

.pq-img {
    width: 72px;
}

.img-pq {
    width: 280px;
}

#inicio {
    background: linear-gradient(45deg, var(--cor0) 23.95% , var(--cor5) 67.08%);
    
}

.section-inicio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    height: 700px;
}

.section-inicio-text {
    font-size: 26px;
    color: white;
}

.section-inicio-text p {
    text-shadow: 2px 2px 4px #0000008e;
}

.section-inicio-text span {
    font-size: 30px;
    font-weight: bold;
    font-family: var(--font-fira);
}

.inicio-inp {
    background-color: transparent;
    color: white;
    border: 1px solid var(--cor4);
    border-radius: 100px;
    width: 272px;
    padding: 15px;
    margin-top: 1em;
    font-size: 18px;
    letter-spacing: 1.3px;
    cursor: pointer;
    transition: all .3s ease-in-out;

}

.inicio-inp:hover {
    letter-spacing: 1.5px;
    transform: scale(1.1);
}

#sobre-mim {
    background-color: var(--cor1);
    display: flex;
    align-items: center;
}

.section-sobre-mim2 {
    display: flex;
    flex-wrap: wrap;
    gap: 67px;
    align-items: center;
    justify-content: center;
    height: 660px;
    padding: 30px;
}

.img-programmer {
    width: 300px;
    border-radius: 15px;
}

.section-sobre-mim2 h2 {
    text-transform: capitalize;
    font-size: 2.8rem;
    font-family: var(--font-fira);
}

.section-sobre-mim2 p {
    text-indent: 30px;
    font-size: 26px;
    font-family: var(--font-source);
    max-width: 609.25px;
    color: white;
    padding: 15px 0;
}

#projetos {
    background-color: var(--cor2);    
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.section-projeto {
    padding-bottom: 2em;
}

.projeto-titulo {
    text-transform: capitalize;
    font-family: var(--font-fira);
    font-size: 2.4rem;
    text-align: center;
    padding: 35px;
}

.projeto-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 1.5em;
}

.card-flex {
    background-color: var(--cor1);
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 1em;
    border-radius: 10px;
}

.card-img {
    width: 320px;
    border-radius: 10px;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.card-text-h3 {
    font-size: 22px;
    font-family: var(--font-fira);
    text-align: flex-start;
}

.card-text span {
    letter-spacing: .3px;
}

.card-text a {
    font-size: 1.1em;
    text-decoration: none;
    color: gray;
    transition: all .3s ease-in-out;
}

.card-text a:hover {
    letter-spacing: 1.2px;
    text-decoration: underline;
    text-decoration-color: var(--cor3);
}

.card-btn input{
    background-color: transparent;
    border: none;
    color: white;
    border: 3px solid var(--cor2);
    padding: 12px;
    width: 100px;
    border-radius: 100px;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    transition: all .3s ease-in-out;
    text-align: center;
}

.card-btn input:hover {
    border: 3px solid var(--cor3);
    letter-spacing: 3.8px;
    transform: scale(1.07);
}

#tecnologias {
    background-color: var(--cor1);
}

.div-habilidades {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.div-habilidades-titulo h2 {
    font-size: 3.4rem;
    font-family: var(--font-fira);
    text-align: center;
    text-transform: capitalize;
}

.div-habilidades-img {
    width: 112px;
    padding-left: 10px;
}

.div-habilidades-itens {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25%;
    padding: 10px;
    
}

#footer {
    background-color: var(--cor2);
}

.div-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 30px;
}

.footer-social p {
    padding: 8px 0;
    color: #cacaca;
}

.footer-social2 ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}

.footer-social2 svg {
    background-color: transparent;
    border: 1px solid var(--cor4);
    padding: 10px;
    text-decoration: none;
    border-radius: 25%;
    transition: all .6s ease-in-out;
}

.footer-social2 svg:hover {
    border: 1px solid var(--cor3);
    transform: rotate(360deg) ;
}

.italic {
    font-style: italic;
    letter-spacing: 1px;
    color: white;
}

.strong {
    color: white;
    font-weight: bolder;
}

