@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Rubik:wght@400;700&family=Signika+Negative:wght@400;700&family=Sometype+Mono&family=Source+Code+Pro&family=Tilt+Neon&display=swap');

:root {
    --cor0: #0f1113;  
    --cor1: #fae525;
    --cor2: #707070;
    --cor3: #9a25fa;
    --cor4: #0FC2C0;
    --cor6: #161616;
    
    --cor1-1: #8443af;
    --cor2-1: #d27ce7;

    

    --font-raleway: 'Raleway', sans-serif;
    --font-rubik: 'Rubik', sans-serif;
    --font-tilt: 'Tilt Neon', sans-serif;
    --font-signika: 'Signika Negative', sans-serif;
    --font-monospace: 'Source Code Pro', monospace;;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor0);
    min-height: 100vh;
    width: 100%;   
}

header {
    background-color: rgba(0, 0, 0, 0.253);
    backdrop-filter: blur(6px);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.036);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;    
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 920px;
    padding: 22px 0;
    font-size: 1.2rem;
}

.header-name a {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-family: var(--font-rubik);
    color: var(--cor1);
    font-weight: bolder;
    text-decoration: none;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.2em;
}

.nav-menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.6em;
    list-style-type: none;
}

.nav-menu ul a {
    color: white;
    font-family: var(--font-rubik);
    text-decoration: none;
    padding-bottom: 8px;
    transition: all .1s;
    font-size: 1.1rem;
    transition: all .2s;
}

.nav-menu li a i {
    display: none;
}

.nav-menu ul li {
    transition: all .2s;
}

.nav-menu ul li:hover {
    transform: scale(1.2);
}

.nav-menu a:hover {
    color: var(--cor3);
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.hamburguer i {
    color: white;
}

/* main */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
   
}

section {
    padding: 4rem 0;
}

#home {
    background-image: url('../img/tentativa-wpp.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 720px;
}

.content1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 15px; 
}

.content1-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.sociais ul {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.sociais ul li {
    list-style-type: none;
    transition: all .2s;
}

.sociais ul li:hover {
    transform: scale(1.3);
}

.sociais a {
    color: var(--cor3);   
}

.bi-github, .bi-instagram{
    font-size: 20px;
}
.bi {
    width: 52px;
    height: 52px;
}

.content1-text1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 350px;
    margin-top: 8rem;
}

.content1-text1 h1 {
    text-transform: capitalize;
    font-size: 2.4rem;
    font-family: var(--font-rubik);
    color: white;
    padding-bottom: 12px;
}

.content1-text1 span {
    font-family: var(--font-monospace);
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--cor1);
}

.content1-text1 p {
    font-family: var(--font-tilt);
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--cor2);
    max-width: 380px;
}

.img-cartoon {
    width: 372px;
    border-radius: 12px;
}

/* SKILLS */

#skills {
    min-width: 58%;
}

.skills-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
}

.skills-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .680rem;
}

.skills-title h2 {
    font-family: var(--font-signika);
    font-size: 2rem;
    color: white;
}

.skills-title p {
    font-family: var(--font-tilt);
    font-size: 1rem;
    color: var(--cor3);
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.skills-topic {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.arrow-func {
    font-family: var(--font-monospace);
    font-size: 1rem;
    color: white;
}

.skills-topic-t {
    display: flex;
    flex-direction: column;
    gap: .375rem;
}

.skills-tec-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 900px;
    padding: 1.4rem 0;
}

.skills-box-title {
    text-align: center;
    padding: 10px 0;
}

.skills-box-title h3 {
    font-family: var(--font-monospace);
    color: white;
    padding-top: 12px;
}

.skills-box-p {
    font-family: var(--font-signika);
    font-size: 1rem;
    color: var(--cor2);
    text-align: center;
    max-width: 280px;
}

.img-skills {
    width: 106px;
}

/* PORTFOLIO */

.projects-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2.6rem;
}

.projects-title h2{
    font-size: 2em;
    font-family: var(--font-raleway);
    color: white;
}

.projects-title span {
    font-family: var(--font-rubik);
    color: var(--cor3);
}

.grid-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.grid-project {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
}

.item {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    width: 600px;
    gap: 4rem;
    font-family: var(--font-tilt);
    padding: 25px;
}
.item h2 {
    font-size: 1.6rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    max-width:310px;
}
.item p {
    font-family: var(--font-rubik);
    font-size: 1rem;
    max-width:310px;
    color: var(--cor2);
}

.reverse {
    flex-direction: row-reverse;
}

.item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.item-text-flex {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1.5rem;
}

.item-btn {
    background-color: var(--cor3);
    border-radius: 10px;
    color: white;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: bolder;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .2s all;
    width: 140px;
    margin-right: 10px;
}
.item-btn:hover {
    opacity: .8;
}

.bi-arrow-right-short {
    font-size: 22px;
    padding-top: 12px;
    padding-left: 5px;
    transition: all .2s;
}
.item-text-bottom a:hover .bi-arrow-right-short {
    padding-left: 10px;
}

.item-text-tecs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
}

.used-tecs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: .350rem;
    width: 250px;
}

.used-tecs li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .450rem;
}

.img-pq {
    width: 22px;
}

.img-project {
    object-fit: cover;
    width: 336px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.img-project:hover {
    transform: scale(1.1);
}

/* FOOTER */

.footer {
    margin-top: 4rem;
}

.footer-bg {
    background-color: var(--cor3);
    padding: 2rem 0 3rem 0;
}

.grid-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin: 0 auto;
    max-width: 800px;
}

.footer-title h2 {
    font-family: var(--font-rubik);
    font-size: 2.2rem;
    padding-bottom: 12px;
    color: #fff;
}

.footer-title-bottom {
    display: grid;
    gap: 12px;
    font-family: var(--font-tilt);
    font-size: 16px;
    color: #fff;
}

.footer-title-bottom p span{
    font-family: var(--font-rubik);
    font-size: 1.1rem;
    font-weight: bold;
}

.sociais-footer ul {
    display: grid;
    grid-template-columns: 36px 36px;
    gap: 8px;
}

.sociais-footer ul li {
    list-style-type: none;
    transition: all .2s;
}

.sociais-footer ul li:hover {
    transform: scale(1.2);
}

.sociais-footer a {
    color: #fff;
    transition: all .2s;
}

.sociais-footer a:hover {
    color: #000;
}

.bi-git-f, .bi-ig-f {
    font-size: 26px;
}

@media screen and (max-width:1250px) {
    .head {
        min-width: 85%;
    }

    .img-cartoon {
        padding-left: 4rem;
    }

    .grid-footer {
        padding-left: 20px;
        gap: 4rem;
    }
}

@media screen and (max-width: 950px) {

    .skills-tec-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        width: auto;
    }

    .item {
        width: auto;
    }
}

@media screen and (max-width:840px) {

    header {
        background-color: var(--cor6);
    }

    main {
        gap: 0;
    }

    #home {
        height: 870px;
    }

    #skills, #portfolio {
        padding-top: 4.5rem;
    }

    .hamburguer {
        display: block;
        transition: all .2s;
    }

    .bi-x-lg {
        display: none;
    }

    .bi-x-lg, .bi-list {
        font-size: 1.6rem;
    }

    .bi-x-lg.active {
        display: inline;
    }

    .bi-list.active {
        display: none;
    }

    .nav-menu {
        background-color: var(--cor6);
        position: absolute;
        top: -200%;
        left: 0;
        width: 100%;
        padding: 2rem 0 2rem;
        transition: all .2s;
    }

    .nav-menu.active {
        top: 100%;
    }

    .nav-menu li a i {
        display: inline;
    }

    .home {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content1 {
        display: grid;
        grid-template-columns: 20px 1fr;
    }

    .about-flex {
        flex-direction: column;
    }

    .footer-bg {
        padding: 3rem 0 3rem;
    }

}

@media screen and (max-width: 768px) {
    .content1-text1 h1 {
        font-size: 2.2rem;
    }

    .item {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .item-text-tecs {
        width: auto;
    }

    .img-project {
        width: 280px;
    }
}

@media screen and (max-width:490px) {
    .head {
        min-width: 80%;
    }

    .nav-menu.active ul{
        flex-direction: column;
    }

    .content1-text h1 {
        font-size: 2rem;
    }

    .img-cartoon {
        width: 352px;
    }

    #skills {
        min-width: 70%;
    }

    .projects-title h2 {
        font-size: 1.8rem;
    }

    .item {
        align-items: center;
        font-size: 1.1rem;
        width: 310px;
    }

    .img-project  {
        width: 266px;
    }

    .grid-footer {
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
    }
}

@media screen and (max-width:414px) {

    main h1 {
        font-size: 1.8rem;
    }

    #home {
        height: 622px;
        display: grid;
        place-content: center;
    }

    .content1 {
        grid-template-columns: 0px 1fr;
        margin-top: 0rem;
    }

    .content1-text1 h1 {
        font-size: 1.6rem;
    }

    .content1-text1 span {
        font-size: .9rem;
    }

    .content1-text1 p {
        font-size: .8rem;
        max-width: 265px;
    }

    .img-cartoon {
        width: 256px;
    }

    .skills-title h2 {
        font-size: 1.8rem;
    }

    .projects-title h2 {
        font-size: 1.8rem;
    }

    .item {
        align-items: center;
        font-size: 1rem;
        width: 300px;
    }

    .img-project  {
        width: 256px;
    }

    .footer-title h2 {
        font-size: 1.8rem;
    }

    .footer-title-bottom {
        font-size: .9rem;
    }

    .footer-title-bottom p span {
        font-size: 1rem;
    }

    .nav-menu.active a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 350px) {

    .header-name a {
        font-size: 1.3rem;
    }

    .nav-menu.active {
        top: 70px;
    }

    .img-cartoon {
        padding-left: 3rem;
        width: 226px;
    }

    .arrow-func {
        font-size: .9rem;
    }

    .skills-box-title h3 {
        font-size: 1rem;
    }

    .skills-box-p {
        padding: 10px;
        font-size: .9rem;
        width: 270px;
    }

    .img-skills {
        width: 48px;
    }
    
    .item {
        width: 265px;
    }

    .item h2 {
        font-size: 1.2rem;
    }

    .img-project {
        width: 222px;
    }

    .grid-footer {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 290px) {

    .header-name a {
        font-size: 1.1rem;
    }

    .img-cartoon {
        padding-left: 2rem;
    }

    .item {
        width: 238px;
        padding: 18px;
    }

    .item h2 {
        font-size: 1.2rem;
    }

    .img-project {
        width: 210px;
    }

} 